click==6.7
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pytz==2017.2
requests==2.18.4
Werkzeug==0.12.2
certifi==2022.12.7
chardet==3.0.4
idna==2.6
pip==1.5.4
setuptools==2.1
urllib3==1.22
